<div>
    <header>
        Hello, Header!
    </header>
    <section>
        Hello, Section!
        <div data-ng-view></div>

        <div data-ng-controller="Shell">
            <vg-list-widget click-create-item="buyNewFruit()" click-remove-all-items="removeAllFruits()">
                <vg-list-item data-item-id="A" click-remove-item="removeFruit(itemId)">Apple</vg-list-item>
                <vg-list-item data-item-id="B" click-remove-item="removeFruit(itemId)">Banana</vg-list-item>
            </vg-list-widget>
        </div>

    </section>
</div>