<div>
    <header>
        Hello, Header!
    </header>
    <section>
        Hello, Section!
        <div data-ng-view></div>

        <div class="col-sm-6" data-ng-controller="Shell">

            <vg-list-widget 
                data-item-list="document.mathFuncList.mathFuncList"
                data-create-item-text="New Function"
                data-remove-item-text="Remove"
                data-remove-all-text="Remove All"
                data-click-create-item="createNewMathFunc()"
                data-click-remove-item="removeMathFunc(itemId)"
                data-click-remove-all-items="removeAllMathFunc()"
                />
        </div>
        <div class="col-sm-6">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">Table</a></li>
                <li role="presentation"><a href="#">Grid</a></li>
                <li role="presentation"><a href="#">Chart</a></li>
                
            </ul>
        </div>

    </section>
</div>
