<div>
    <header>
        Hello, Header!
    </header>
    <section data-ng-controller="Shell">
        Hello, Section!
        <div data-ng-view></div>

        <div class="col-sm-6">

            <vg-list-widget 
                data-item-list="vm.mathFuncList.mathFuncList"
                data-create-item-text="New Function"
                data-remove-item-text="Remove"
                data-remove-all-text="Remove All"
                data-click-create-item="createNewMathFunc()"
                data-click-remove-item="removeMathFunc(itemId)"
                data-click-remove-all-items="removeAllMathFunc()"
                />
        </div>
        <div class="col-sm-6">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#Table">Table</a></li>
                <li><a data-toggle="tab" href="#Grid">Grid</a></li>
                <li><a data-toggle="tab" href="#Chart">Chart</a></li>
            </ul>
            
            <div class="tab-content">
                <div id="Table" class="tab-pane fade in active">
                    <div class="tab-message" ng-if="vm.calculatedValues.keys().isEmpty()">
                        Function list is empty
                    </div>
                    <table class="func-table" ng-if="!vm.calculatedValues.keys().isEmpty()">
                        <tr>
                            <th>x</td>
                            <th ng-repeat="mathFuncName in vm.calculatedValues.keys()" ng-if="mathFunc.status">{{mathFuncName}}</td>
                        </tr>
                        <tr ng-repeat="x in tmpDomain">
                            <td>{{x}}</td>
                            <td ng-repeat="y in vm.calculatedValues['{{mathFuncName}}']" ng-if="mathFunc.status">{{y}}</td>
                        </tr>
                    </table>
                </div>
                <div id="Grid" class="tab-pane fade">
                    Grid
                    <div class="tab-message" ng-if="vm.calculatedValues.keys().isEmpty()">
                        Function list is empty
                    </div>
                </div>
                <div id="Chart" class="tab-pane fade">
                    <div class="tab-message" ng-if="vm.calculatedValues.keys().isEmpty()">
                        Function list is empty
                    </div>
                    <vg-func-chart title="Graph" categories="tmpDomain" func-values="funcValues" chart-id="aaa">Chart not working</vg-func-chart>

                </div>
            </div>
        </div>

    </section>
</div>
