
.vg-list-item {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.vg-list-item-enabled {
    background: #AAAACC;
}

.vg-list-item-disabled {
    background: #CCCCCC;
}

.vg-list-item-label {
    width: 150px;
}

.vg-btn-group {
    padding: 5px;
}